{% extends 'FlowcodeShopBundle::shop.html.twig' %}
{% block products %}
    {% if page %}
        <h1>{{ page.name }}</h1>

        <div>
            {{ page.description }}
        </div>
    {% endif %}

    <div class="row">
        {% for entity in pagination %}
            {{ include('FlowcodeShopBundle:Product:product_item.html.twig',{'product':entity, hidden:true}) }}
        {% else %}
            <div>no results</div>
        {% endfor %}
    </div>

    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}
