{% extends 'FlowcodeShopBundle::shop.html.twig' %}

{% block products %}
<div>
    {{ render(controller("FlowcodeShopBundle:Product:index",{"parameter_bag":parameterBag,"page":page})) }}
</div>

{% endblock %}
